<section class="contact-me" id="contact-me">
    <h1>Connect with Me</h1>
    <div class="contact">
        <form method="post" action="/submit">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="data[name]" placeholder="Full name">
              </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="data[email]" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="3" name="data[message]" placeholder="Enter your message"></textarea>
              </div>

              <div class="contact-icon mt-3">
            
                <a href="tel:+919131166115"><i class="fa-solid fa-phone"></i></a>
                <a href="https://wa.me/9131166115" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
                <a href="mailto:suhanilodhi050@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    
            </div>

              <button class="btn btn-dark mt-5 resume-btn">Submit</button>
        </form>

        
    </div>
</section>