<div class="home">
<div class="profile">
    <img src="assets\mypic.jpg"class="profile-pic">
</div>
<div class="intro">
    <h1 class="text text-st" >I am </h1>
    <h1 id="intro-text"></h1>
    <h6 class="text text-end">A passionate MERN Stack Developer</h6>
    <a href="https://www.linkedin.com/in/suhani-lodhi-852284290/"><i class="fa-brands fa-linkedin text"></i></a>
    <a href="https://github.com/Suhani-lodhi/"><i class="fa-brands fa-square-github text" ></i></a>
    <a href="https://leetcode.com/u/Suhani_Lodhi/"><i><img src="assets/leetcode.png" class="img-icon"></i></a>
    <a href="https://www.geeksforgeeks.org/user/suhanilozsq3/"><i><img src="assets/gfg.png" class="img-icon"></i></a>
    <br>
    <a href="https://drive.google.com/file/d/1DcJPdoToK5wB2mt7Fj0CUXjKmDiNvWNN/view?usp=drive_link" class="btn btn-dark mt-5 resume-btn btn-lg">My Resume</a>
</div>
</div>