<section id="skills">
    <h1>My Skills</h1>
  
    <div class="skill">
      <div class="skill-info">
        <span>Java</span>
        <span>90%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 90%;"></div>
      </div>
    </div>

    <div class="skill">
        <div class="skill-info">
          <span>DSA</span>
          <span>70%</span>
        </div>
        <div class="progress-bar">
          <div class="progress" style="width: 90%;"></div>
        </div>
      </div>
  
    <div class="skill">
      <div class="skill-info">
        <span>MERN Stack</span>
        <span>80%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 80%;"></div>
      </div>
    </div>

    <div class="skill">
        <div class="skill-info">
          <span>Communication</span>
          <span>80%</span>
        </div>
        <div class="progress-bar">
          <div class="progress" style="width: 80%;"></div>
        </div>
      </div>
  
  </section>
  