
<section class="techExpo" id="techExpo">
    <h1>Technical Exposure</h1>
    <div class="technical">
        
        <div class="tech-left">
            <div class="left-div">
               <div class="techleft-card">
                <h5 class="tech-heading">NEPTEL DBMS Cirtification</h5>
                <p>completed an 8-week NPTEL DBMS course with 80% and a Silver Medal, 
                    focusing on database design, SQL, and transaction management.</p>
               </div>
            </div>
            <div class="left-div">
                
                <div class="techleft-card">
                    <h5 class="tech-heading">Electronics Arts Virtual Job simulation</h5>
                    <p>Completed a Junior Software Engineer job simulation at Electronic Arts, 
                        gaining practical skills in software development.</p>
                   </div>
            </div>

            <div class="left-div">
                
                <div class="techleft-card">
                    <h5 class="tech-heading">AI and Deep Learning Workshop</h5>
                    <p>Participated in the AI and Deep Learning Workshop organized by IISER Bhopal,
                         gaining insights into machine learning algorithms, neural networks, and real-world AI applications.</p>
                   </div>
            </div>

        </div>
        <div class="tech-right">
            <div class="right-div">

                <div class="techright-card">
                    <h5 class="tech-heading">CodSoft Virtual Internship</h5>
                    <p>Successfully completed a 1-month Full Stack Development internship at CodSoft, gaining hands-on
                         experience in frontend and backend technologies.</p>
                   </div>

            </div>
            <div class="right-div">

                <div class="techright-card">
                    <h5 class="tech-heading">Elements of AI Certification</h5>
                    <p>Completed the Elements of AI course by the University of Helsinki and MinnaLearn, 
                        covering core AI concepts, real-world applications, and ethical considerations.
                    </p>
                   </div>

            </div>

            <div class="right-div">

                <div class="techright-card">
                    <h5 class="tech-heading">Blockchain Technology Workshop</h5>
                    <p>Attended Blockchain Technology Workshop by Geeks for Gurukul, learning blockchain and smart contract basics.</p>
                   </div>

            </div>
        </div>
    </div>
</section>